body {
    background-image: url("../wood_decking.jpg");
}

.navbar{
    background-color: sienna;
}
.navbar li a{
    color: antiquewhite;
}

.dropdown-item{
    background-color: saddlebrown;
}

.dropdown-menu{
    padding:0px;
}


.mainBox{
    background-color: antiquewhite;
    opacity: 0.95;
    min-height: 300px;
    height: auto !important;
    border-radius: 25px;
    padding-bottom: 15px;
}

.makeDeckBox{
    background-color: antiquewhite;
    min-height: 950px;
    height: auto !important;
    height: 950px;
    width:450px;
    border-radius: 25px;
    padding-bottom: 15px;
}

.formBlock{
    display: block;
    text-align: center;
}

#profileBox{
    background-color: antiquewhite;
    opacity: 0.95;
    min-height: 300px;
    height: auto !important;
    height: 300px;
    width: 300px;
    border-radius: 25px;
    padding-bottom: 15px;
}

#Title{
    color: antiquewhite;
}

#updateProfile{
    display: inline-block;
}


#deckCards{
    height:1000px;
    font-size:14pt;
    width: 400px;
}